@page
@model Bookstore.Pages.PurchaseConfirmedModel
@{
}

<div class="text-center">
    <h1>Your purchase has been received! Thank you!</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to home</a>
</div>